.social {
    &__container {
        display: none;
        background-color: rgba(255, 0, 0, 0.411);
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        padding: 1rem;
        flex-direction: row;
    }
    &__toggle {
        width: 5rem;
        height: 100%;
        background: green;
    }
    &__icons {
        display: flex;
        flex-direction: column;

    }
    &__icon {
        width: 5rem;
        height: 5rem;
    }
}