.faq {
    z-index: 8;
    
    -webkit-clip-path: ellipse(119% 48% at 50% 50%);
    clip-path: ellipse(119% 48% at 50% 50%);
    grid-column: full-start / full-end;
    padding: 26rem 8rem 41rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #36e2be, #32a9d8);

    h1{ 
        text-align: center; 
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        grid-gap: 5rem;
        align-items: center;
        max-width: $site-width;
        margin: 0 auto;
    }
    &__image {
        width: 100%;
    }
    &__questions {
        
    }


    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      label {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: #16a085;
        font-weight: bold;
        line-height: 3;
        cursor: pointer;
      }
      .blue label {
        background: #2980b9;
      }
      .tab-content {
        max-height: 0;
        overflow: hidden;
        background: #1abc9c;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
      }
      /* :checked */
      input:checked ~ .tab-content {
        max-height: 10em;
      }
      /* Icon */
      label::after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
      }
      input[type=checkbox] + label::after {
        content: "+";
      }
      input[type=radio] + label::after {
        content: "\25BC";
      }
      input[type=checkbox]:checked + label::after {
        transform: rotate(315deg);
      }
      input[type=radio]:checked + label::after {
        transform: rotateX(180deg);
      }

}
