.platform {
    color: white;
    grid-column: center-start / center-end;
    padding: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 40rem;

    h1 {
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        justify-content: space-around;
        grid-gap: 5rem;
        align-items: center;
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__item {
        background-color: #30538461;
        padding: 2rem;
        display: flex;
        transition: all .35s;

        svg {
            fill: #fff;
        }

        &:not(:last-child){
            margin-bottom: 5rem;
        }

        &:hover {
            background: $color-primary;
            //background: linear-gradient(to right, $color-primary, $color-tertiary);
            transform: translateY(-.5rem);
            color: black;
            border-radius: 20px;
            box-shadow: 10px 10px 20px #00000025;

            &__icon {
                background: #fff;
            }

            svg {
                fill: #c968b6;
                background: #fff;
            }

            p {
                color: black;
            }
        }
        
    }

    &__icon {
        width: 100%;
        max-width: 7.5rem;
        max-height: 7.5rem;
        border-radius: 50%;
        background: #5caddc;
        padding: 1.5rem;
        margin-right: 2rem;
    }

    &__description {
        h2 {
            margin: 1rem 0; 
            padding-bottom: 1rem;
            font-size: 2.2rem;
            border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        }

        p {
            color: $color-white-faded;
            padding-bottom: 1rem;
        }
    }

    &__media {
        img {
            opacity: .5;
            width: 100%;
            -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            transition: all 0.5s cubic-bezier(0, 0, 0, 1.46)!important;

            &:hover {
                -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
               clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
               opacity: 1;
            }
        }

        &::after {
            content: "";
            position: relative;
            display: block;
            top: 0;
            left: 11px;
            width: 100%;
            filter: blur(27px);
            height: 3rem;
            border-radius: 50%;
            background-color: black;
            z-index: -1;
            margin-top: -1rem;
        }
    }
}

@media (max-width: 1100px) {
    .platform {
        &__content {
            grid-template-columns: auto;
        }
    }
}
