//PLACE ALL MIXINS HERE!

//White bottom header divider
@mixin whiteDivider($distanceTop: -25px, $distanceBottom: -13px) {
    &::before {
        content: "";
        position: absolute;
        top: $distanceTop;
        display: block;
        width: 50%;
        height: 2px;
        background-color: #ffffff28;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: $distanceBottom;
        display: block;
        width: 50%;
        height: 2px;
        left: 50%;
        margin-left: -25%;
        background-color: #ffffff28;
    }
}